<div class="graphic {{#if isRepublican}}republican{{else}}democrat{{/if}}">
  <h1>{{ title }}</h1>

  <div id="graphic-container">

    {{#each}}
    	{{> bargraph}}
    {{/each}}

  </div>

  <div class="footer">
    <ul>
      {{#if source}}<li>Source: {{#if source_url }}<a href="{{  source_url }}">{{ source }}</a>{{else}}{{ source }}{{/if}}</li>{{/if}}
    </ul>
  </div>
</div>